<footer>
  <p mt-8 text-xs op-30>
    <!-- <span pr-1>Token:</span> -->
    <a
      b-slate-link
      href="https://flokigpt.ai" target="_blank"
    >
    Website
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://flokigpt.ai/" target="_blank"
    >
      Telegram
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://twitter.com/FlokiGpt" target="_blank"
    >
      Twitter
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://bscscan.com/address/0x5AAd894B3015904265aeac1dB64fD0f028e8448F" target="_blank"
    >
      Smart Contract
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/Audit-Ace/Audits-Smart-Contracts/blob/main/Floki%20GPT%20Audit%20Report.pdf" target="_blank"
    >
      Audit
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://www.pinksale.finance/launchpad/0x3Da972A6dE88Dc19720bD012fF15Ad201e4Be3E4?chain=BSC" target="_blank"
    >
      Pinksale
    </a>
  </p>
</footer>
